Box2D==2.3.2
Cython==3.0.10
deap==1.4.1
greenlet==3.0.3
multineat==0.12
multipledispatch==1.0.0
noise==1.2.2
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
pyrr==0.10.3
revolve2-ci-group==1.1.1
revolve2-experimentation==1.1.1
revolve2-modular-robot==1.1.1
revolve2-modular-robot-simulation==1.1.1
revolve2-simulation==1.1.1
scipy==1.13.0
SQLAlchemy==2.0.29
typing_extensions==4.11.0
